{% extends 'partials/base.html' %}
{% load static %}
{% comment %} {% block cdnCSS %}{% endblock cdnCSS %} {% endcomment %}
{% comment %} {% block navbar %}{% endblock navbar %} {% endcomment %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/profile_student.css' %}">
{% endblock customCSS %}

{% comment %}
{% block title %}Profile | Get_Set_Hired{% endblock title %}
{% block content %}
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Average Rating: {{averageRating}}
      </div>
      <div class="cardDetails vertical-center">
      Give New Rating-:
        <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Profile')">
          <option value="">---</option>
          {% if profileFeedback.rating == 1%}
          <option value="1" selected>1</option>
          {% else %}
          <option value="1">1</option>
          {% endif %}
          {% if profileFeedback.rating == 2%}
          <option value="2" selected>2</option>
          {% else %}
          <option value="2">2</option>
          {% endif %}
          {% if profileFeedback.rating == 3%}
          <option value="3" selected>3</option>
          {% else %}
          <option value="3">3</option>
          {% endif %}
          {% if profileFeedback.rating == 4%}
          <option value="4" selected>4</option>
          {% else %}
          <option value="4">4</option>
          {% endif %}
          {% if profileFeedback.rating == 5%}
          <option value="5" selected>5</option>
          {% else %}
          <option value="5">5</option>
          {% endif %}
        </select>
      </div>
      <br>
      <div class="cardTitle">
        Profile
      </div>

      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Links
      </div>
      <div class="cardDetails vertical-center">
        <div>
          <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn :
          {% if user.email == 'dishtioberai@gmail.com' %}
          <a href="https://www.linkedin.com/in/dishti-oberai/" target="_blank">Link</a> 
          <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'LinkedIn')">
            <option value="">---</option>
            {% if linkedInFeedback.rating == 1%}
            <option value="1" selected>1</option>
            {% else %}
            <option value="1">1</option>
            {% endif %}
            {% if linkedInFeedback.rating == 2%}
            <option value="2" selected>2</option>
            {% else %}
            <option value="2">2</option>
            {% endif %}
            {% if linkedInFeedback.rating == 3%}
            <option value="3" selected>3</option>
            {% else %}
            <option value="3">3</option>
            {% endif %}
            {% if linkedInFeedback.rating == 4%}
            <option value="4" selected>4</option>
            {% else %}
            <option value="4">4</option>
            {% endif %}
            {% if linkedInFeedback.rating == 5%}
            <option value="5" selected>5</option>
            {% else %}
            <option value="5">5</option>
            {% endif %}
          </select>
          {% else %}
          <a href="https://www.linkedin.com/company/get-set-hired/about/" target="_blank">Link</a>
          <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'LinkedIn')">
            <option value="">---</option>
            {% if linkedInFeedback.rating == 1%}
            <option value="1" selected>1</option>
            {% else %}
            <option value="1">1</option>
            {% endif %}
            {% if linkedInFeedback.rating == 2%}
            <option value="2" selected>2</option>
            {% else %}
            <option value="2">2</option>
            {% endif %}
            {% if linkedInFeedback.rating == 3%}
            <option value="3" selected>3</option>
            {% else %}
            <option value="3">3</option>
            {% endif %}
            {% if linkedInFeedback.rating == 4%}
            <option value="4" selected>4</option>
            {% else %}
            <option value="4">4</option>
            {% endif %}
            {% if linkedInFeedback.rating == 5%}
            <option value="5" selected>5</option>
            {% else %}
            <option value="5">5</option>
            {% endif %}
          </select>
          {% endif %}
          <br>
          <i class="far fa-file" style="margin-right: 5px;"></i>Resume :
          <a href="/media/resumes/dishtiUberai.pdf" target="_blank">Link</a>
          <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Resume')">
            <option value="">---</option>
            {% if resumeFeedback.rating == 1%}
            <option value="1" selected>1</option>
            {% else %}
            <option value="1">1</option>
            {% endif %}
            {% if resumeFeedback.rating == 2%}
            <option value="2" selected>2</option>
            {% else %}
            <option value="2">2</option>
            {% endif %}
            {% if resumeFeedback.rating == 3%}
            <option value="3" selected>3</option>
            {% else %}
            <option value="3">3</option>
            {% endif %}
            {% if resumeFeedback.rating == 4%}
            <option value="4" selected>4</option>
            {% else %}
            <option value="4">4</option>
            {% endif %}
            {% if resumeFeedback.rating == 5%}
            <option value="5" selected>5</option>
            {% else %}
            <option value="5">5</option>
            {% endif %}
          </select>
          <br>
        </div>
      </div>
    </div>
    {% if profile.skills.all.count %}
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Skills
        <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Coursera Certificates')">
          <option value="">---</option>
          {% if courseraCertificatesFeedback.rating == 1%}
          <option value="1" selected>1</option>
          {% else %}
          <option value="1">1</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 2%}
          <option value="2" selected>2</option>
          {% else %}
          <option value="2">2</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 3%}
          <option value="3" selected>3</option>
          {% else %}
          <option value="3">3</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 4%}
          <option value="4" selected>4</option>
          {% else %}
          <option value="4">4</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 5%}
          <option value="5" selected>5</option>
          {% else %}
          <option value="5">5</option>
          {% endif %}
        </select>
      </div>
      <div class="cardDetails vertical-center">
        <div>
          {% for skill in profile.skills.all %}
          {{ skill }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div id="rightColumn">
    <div id="profileProjects">
      <div id="projectButtons">
        <div class="projectButton buttonSelected" id='projects0button' onclick="toggleVisibility('projects0')">
          <div class="projectButtonTitle">
            Coursera Certificates:
            <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Skills')">
              <option value="">---</option>
              {% if skillsFeedback.rating == 1%}
              <option value="1" selected>1</option>
              {% else %}
              <option value="1">1</option>
              {% endif %}
              {% if skillsFeedback.rating == 2%}
              <option value="2" selected>2</option>
              {% else %}
              <option value="2">2</option>
              {% endif %}
              {% if skillsFeedback.rating == 3%}
              <option value="3" selected>3</option>
              {% else %}
              <option value="3">3</option>
              {% endif %}
              {% if skillsFeedback.rating == 4%}
              <option value="4" selected>4</option>
              {% else %}
              <option value="4">4</option>
              {% endif %}
              {% if skillsFeedback.rating == 5%}
              <option value="5" selected>5</option>
              {% else %}
              <option value="5">5</option>
              {% endif %}
            </select>
          </div>
        </div>
      </div>
      <div class="projectsNumbers">
        
      </div>
    </div>
  </div>
</div>
{% else %}
<div id="profile" class="horizontal-center">
  <div id="leftColumn">
    <div id="editButton" class="vertical-center">
      <div class="horizontal-center">
        <a style="color: white;" href="/profileEdit/{{user.companyprofile.id}}"><i class="fas fa-pen">Edit</i> </a>
      </div>
    </div>
    <img class="profileImage" src="https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29tcGFueXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Profile
      </div>
      <div class="cardDetails vertical-center">
        <div>
          Company Name - {{user.companyprofile.name}}
          <br>
          Email - {{user.email}}
          <br>
          Contact Number - {{user.companyprofile.contact_num}}
          Number of Employees - {{user.companyprofile.number_of_employees}}
          <br>
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Links
      </div>
      <div class="cardDetails vertical-center">
        <div>
          <i class="fab fa-linkedin" style="margin-right: 5px;"></i>LinkedIn :
          <a href="https://www.linkedin.com/company/get-set-hired/about/" target="_blank">Link</a>
          <!--          {% if profile_user.profile.linked_in_link|length > 0%}-->
          <!--          <a href={{profile_user.profile.linked_in_link}} target="_blank">{{profile_user.profile.linked_in_link}}</a>-->
          <!--          {% else %}-->
          <!--          NA-->
          <!--          {% endif %}-->
          <!--          <i class="far fa-file" style="margin-right: 5px;"></i>Website :-->
          <!--          {% if profile_user.profile.cv|length > 0%}-->
          <!--          <a href="{{profile_user.profile.cv.url}}" target="_blank">-->
          <!--            Click Here-->
          <!--          </a>-->
          <!--          {% else %}-->
          <!--          NA-->
          <!--          {% endif %}-->
          <br>
        </div>
      </div>
    </div>
    <div class="leftColumnCard horizontal-center">
      <div class="cardTitle">
        Skills
      </div>
      <div class="cardDetails vertical-center">
        <div>
          {% for jobposting in user.companyprofile.jobpostings.all %}
            {% for tag in jobposting.domain_tags.all %}
              {{tag}}
            {% endfor %}
            {% for tag in jobposting.requirement_tags.all %}
              {{tag}}
            {% endfor %}
          {% endfor %}
          <!--          {% for skill in profile_user.profile.techskills.all %}-->
          <!--          {{ skill }}-->
          <!--          {% endfor %}-->
        </div>
      </div>
    </div>
  </div>
  <div id="rightColumn">
    <div id="profileProjects">
      <div id="projectButtons">
        <div class="projectButton buttonSelected" id='projects0button' onclick="toggleVisibility('projects0')">
          <div class="projectButtonTitle">
            Details:
          </div>
        </div>
      </div>
      <div class="projectsNumbers">
            <iframe srcdoc="{{website}}" frameborder="0" width="100%;" height="1000px;">
            </iframe>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
{% endcomment %}

{% block content %}
<div class="wrapper">
  <section class="left-section">
    <div class="profile-picture">
      <img class="profileImage" src="/media/{{ user.userprofile.image }}" alt="">
    </div>
    <div class="job">
      <h1 class="title">Certificates
        {% if userCanRate %}
        <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Coursera Certificates')">
          <option value="">---</option>
          {% if courseraCertificatesFeedback.rating == 1%}
          <option value="1" selected>1</option>
          {% else %}
          <option value="1">1</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 2%}
          <option value="2" selected>2</option>
          {% else %}
          <option value="2">2</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 3%}
          <option value="3" selected>3</option>
          {% else %}
          <option value="3">3</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 4%}
          <option value="4" selected>4</option>
          {% else %}
          <option value="4">4</option>
          {% endif %}
          {% if courseraCertificatesFeedback.rating == 5%}
          <option value="5" selected>5</option>
          {% else %}
          <option value="5">5</option>
          {% endif %}
        </select>
        {% endif %}
      </h1>
      
      <h3>Coursera:</h3>
      <a href="www.coursera.com" style="font-size: 18px;">www.coursera.com</a>
      {% for certificate in profile.certificates.all %}
      <p class="description">
        {{forloop.counter}}
        {{certificate}}
      </p>
        {% endfor %}
    </div>
  </section>
  <section class="right-section">
    <div class="about-user">
      <a href="/profileEdit/{{profile.id}}"><i class="fas fa-pen"></i> Edit </a>
      <h1 class="user-name">{{user.first_name}} {{user.last_name}}</h1>
      <h3 class="current-job">Average Rating: {{averageRating}}</h3>
      <p class="info">Looking for experience</p>
      {% if userCanRate %}
      <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Profile')">
        <option value="">---</option>
        {% if profileFeedback.rating == 1%}
        <option value="1" selected>1</option>
        {% else %}
        <option value="1">1</option>
        {% endif %}
        {% if profileFeedback.rating == 2%}
        <option value="2" selected>2</option>
        {% else %}
        <option value="2">2</option>
        {% endif %}
        {% if profileFeedback.rating == 3%}
        <option value="3" selected>3</option>
        {% else %}
        <option value="3">3</option>
        {% endif %}
        {% if profileFeedback.rating == 4%}
        <option value="4" selected>4</option>
        {% else %}
        <option value="4">4</option>
        {% endif %}
        {% if profileFeedback.rating == 5%}
        <option value="5" selected>5</option>
        {% else %}
        <option value="5">5</option>
        {% endif %}
      </select>
      {% endif %}
      
      <h1 class="title about">About me</h1>
      <h3>Contact</h3>
      <ul class="contact-list">
        <li class="address">Age: {{user.userprofile.age}}</li>
        <li class="phone">{{user.userprofile.contact_num}} </li>
        <li class="mail">{{user.email}}</li>
        {% comment %} <li class="website">GitHub: <a href="#"></a></li> {% endcomment %}
      </ul>
    </div>
    <div class="skills">
      <h1 class="title">Skills
        {% if userCanRate %}
        <select onclick="if (typeof(this.selectedIndex) != 'undefined') changeLoc(this.selectedIndex, 'Skills')">
          <option value="">---</option>
          {% if skillsFeedback.rating == 1%}
          <option value="1" selected>1</option>
          {% else %}
          <option value="1">1</option>
          {% endif %}
          {% if skillsFeedback.rating == 2%}
          <option value="2" selected>2</option>
          {% else %}
          <option value="2">2</option>
          {% endif %}
          {% if skillsFeedback.rating == 3%}
          <option value="3" selected>3</option>
          {% else %}
          <option value="3">3</option>
          {% endif %}
          {% if skillsFeedback.rating == 4%}
          <option value="4" selected>4</option>
          {% else %}
          <option value="4">4</option>
          {% endif %}
          {% if skillsFeedback.rating == 5%}
          <option value="5" selected>5</option>
          {% else %}
          <option value="5">5</option>
          {% endif %}
        </select>
        {% endif %}
      </h1>
      <ul>
        {% for skill in profile.skills.all %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="skills">
      <h1 class="title">Education</h1>
      <ul>
        <li>College of Undergraduation: {{user.userprofile.education}}</li>
        {% comment %} <li>Branch:</li> {% endcomment %}
        {% comment %} <li>CGPA: (cgpa from form)</li> {% endcomment %}
      </ul>
    </div>
    <div class="skills">
      <h1 class="title">Work Experience</h1>
      <ul>
        <li>Years of experience : {{user.userprofile.experience_yrs}} </li>
        <li>Willing to relocate: {{user.userprofile.willing_to_work_at}}</li>
      </ul>
    </div>
  </section>
</div>
{% endblock content %}
{% block customJS %}
<script>
  function changeLoc(rating, feedbackField){
    window.location.href = `/rateUser/{{user.id}}/${rating}/${feedbackField}`;
  }
</script>
{% endblock customJS %} 