{% extends 'partials/register.html' %}
{% load static %}
{% block content %}
<header>
    <h1>Startup Registration Form</h1>
</header>
<main>
<form method="POST" class="company" action='/register_startup/'>
    {% csrf_token %}
    <fieldset>
        <label for="username">&nbsp&nbspUSER NAME
            <input type="text" id="username" name = "username" placeholder="Your User Name *" required>
        </label>
        <label for="username">COMPANY NAME
            <input type="text" id="username1" name = "username" placeholder="Company Name *" required>
        </label>
        <label for="email">EMAIL
            <input type="email" name="email" id="email" placeholder="Email address * " required>
        </label>
        <label for="password1">PASSWORD
            <input type="password" name="password1" id="password1" placeholder="Password * " required>
        </label>
        <label for="password2">CONFIRM YOUR PASSWORD
            <input type="password" name="password2" id="password2" placeholder="Confirm your password * " required>
        </label>
    </fieldset>
    <label for="terms-and-condition">
        <input type="checkbox" name="terms" id="terms-and-condition" checked> <span class="terms">I accept
            <a href="#">terms and conditions</a> </span>
    </label>
    <button type="submit">CREATE ACCOUNT</button>
</form>
{% endblock content %}
{% comment %} {% block title %}Register | Get_Set_Hired{% endblock title %}
{% block customCSS %}
<link rel="stylesheet" href="{% static 'home/register.css' %}">
{% endblock customCSS %}
{% block cdnCSS %}{% endblock cdnCSS %}
{% block navbar %}{% endblock navbar %} {% endcomment %}
{% comment %} <div class="wrapper">
    <div class="title-text">
        <div class="title user">User Registeration </div>
        <div class="title company">Company Registeration</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="user" checked>
            <input type="radio" name="slide" id="company">
            <label for="user" class="slide user">User</label>
            <label for="company" class="slide company">Company</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form method="POST" class="user" action='/userRegister/'>
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name='username' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="First name" name='first_name' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Last name" name='last_name' required>
                </div>
                <div class="field">
                    <input type="email" placeholder="Email address" name='email' required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name='password1' required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm password" name="password2" required>
                </div>
                <br><br>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Register">
                </div>
                <br>
                <div class="user-link">Already a member? <a href="{% url 'login' %}">Login now</a></div>
            </form>
            <form method="POST" class="company" action='/companyRegister/'>
                {% csrf_token %}
                <div class="field">
                    <input type="text" placeholder="Username" name='username' required>
                </div>
                <div class="field">
                    <input type="text" placeholder="Company Name" name="username" required>
                </div>
                <div class="field">
                    <input type="email" placeholder="Email Address" name="email" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" name="password1" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm password" name="password2" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Register">
                </div>
                <br>
                <div class="company-link">Already a member? <a href="{% url 'login' %}">Login now</a></div>
            </form>
        </div>
    </div>
</div> {% endcomment %}